#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.main-nav ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding: 0;
}

.main-nav ul li {
    list-style-type: none;
}

.main-nav ul li a {
    text-decoration: none;
    color: #152c2c;
    font-weight: bold;
    padding: 10px;
    background-color: #b4d4fe;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.tasks__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task__item {
    background-color: #fef4b1;
    border-radius: 10px;
    padding: 20px;
}

.task__item h3 {
    margin: 0;
}

.employee__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.employee__item {
    display: flex;
    background-color: #d3edf2;
    border-radius: 10px;
    padding: 0 15px;
    align-items: center;
    gap: 10px;
    cursor: move;
}

.employee__item-name {
    display: flex;
    flex-direction: column;
}

.employee__item-image img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
}

.day_schedule {
    display: flex;
    gap: 20px;
}

.day_schedule h2 {
    font-size: 15px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

/*
* FORM
*/

.fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fieldset_checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fieldset label {
    padding: 0 0 10px;
    margin: 10px 0 0;
}

.fieldset textarea,
.fieldset input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    min-width: 255px;
}

.fieldset input[type="checkbox"],
.fieldset input[type="radio"] {
    width: auto;
    min-width: auto;
    margin-right: 10px;
}

.fieldset input[type="file"] {
    padding: 0;
    border: 0 none;
}

.fieldset input::file-selector-button {
    padding: 10px;
    border-radius: 10px;
    border: 0 none;
    cursor: pointer;
    background-color: #b4d4fe;
}

button.btn {
    margin: 15px 0 0;
    background-color: rgb(0, 32, 32);
    color: #fff;
    font-weight: bold;
}